# requirements.txt

# Core data libraries
pandas
numpy

# Technical analysis
pandas_ta
talib-binary   # use this if normal TA-Lib fails to install on Linux

# Plotting / visualization
matplotlib

# Exchange API wrapper
ccxt

# Date/time handling
python-dateutil
pytz

# HTTP requests
requests

# HTTP delta-rest-client
delta-rest-client